title = Anonymous Frame document.write() - Circumvention
template = testcase

<script>
setTimeout(function()
{
  var iframe = document.getElementById("append");
  var span = document.createElement("span");
  span.className = "testcase-circ-anoniframe-docwrite";
  span.textContent = "This text should be hidden";
  iframe.contentDocument.body.appendChild(span);
  var doc = document.getElementById("write").contentDocument;
  doc.open();
  doc.write("<span class='testcase-circ-anoniframe-docwrite'>This text should be hidden</span>");
  doc.close();
}, 0);
</script>

<style>
iframe {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.expected iframe {
  width: 98px;
  height: 98px;
  padding: 98px;
}
</style>

<section class="site-panel">

  <h2>Test case</h2>
  <div class="testcase-container">
    <p>
      Top frame: [<span class="testcase-circ-anoniframe-docwrite blocked">This text should be hidden</span>]
    </p>

    <p>
      Subframe (Element.appendChild): [<iframe id="append"></iframe>]
    </p>

    <p>
      Subframe (document.write): [<iframe id="write"></iframe>]
    </p>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}##.testcase-circ-anoniframe-docwrite</pre>
  <h3>Related links</h3>
  <p><a href="https://issues.adblockplus.org/ticket/3185">Issue #3185</a></p>
</section>
