title = Inline Style !important - Circumvention
template = testcase

<section class="site-panel">

  <h2>Test case</h2>
  <div class="testcase-container">
   <div class="testcase-contentaside stripes-red testcase-circ-is">Target without inline-style</div>
   <div class="blocked">
     <div class="testcase-contentaside stripes-red testcase-circ-is" style="display: block !important;">Target with inline-style</div>
   </div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}##.testcase-circ-is</pre>
  <h3>Related links</h3>
  <p><a href="https://issues.adblockplus.org/ticket/242">Issue #242</a></p>
</section>
