<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} - ABP Test Pages</title>
    <link rel="stylesheet" href="/css/testpages.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/abp-32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <? include header ?>
    <div class="site-container">
      
      <section class="site-panel site-breadcrumbs">
        <a href="/" target="_top">Home</a>
        > <a href="testcases" target="_top">Test cases</a>
        {{ breadcrumb|safe }}
      </section>

      {{ body|safe }}

      {% if testcase_howtotest_steps or testcase_howtotest_notes %}
      <section class="site-panel">
        <h2>How to test</h2>
        {% if testcase_howtotest_steps %}
        <h3>Steps</h3>
        <ul>
          {% for step in testcase_howtotest_steps %}
          <li>{{ step }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if testcase_howtotest_notes %}
        <h3>Notes</h3>
        <ul>
          {% for note in testcase_howtotest_notes %}
          <li>{{ note }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </section>
      {% endif %}

      {% if testcase_filters %}
      <section class="site-panel">
        <h2>Example filters</h2>
        <p>Example filters that can be used when testing this page.</p>
        {% for filter in testcase_filters %}
        <div class="testcase-filter">
          <p class="filter">{{filter[0]}}</p>
          <p class="description">{{filter[1]}}</p>
        </div>
        {% endfor %}
      </section>
      {% endif %}

      {% if testcase_passnotes %}
      <section class="site-panel">
        <h2>Pass</h2>
        {% for note in testcase_passnotes %}
        <p>{{ note }}</p>
        {% endfor %}
      </section>
      {% endif %}

      {% if testcase_moreinfo %}
      <section class="site-panel">
        <h2>More information</h2>
        <ul>
        {% for link in testcase_moreinfo %}
          <li><a href="{{link[1]}}">{{link[0]}}</a></li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}

    </div>

  <? include footer ?>

  <script>
    function pagelog(message) {
      var log = document.getElementById("testcase-output");
      log.innerText = log.innerText + message + "\n";
      console.log(message);
    }
  </script>
  </body>
</html>
