title = abort-on-property-read-function-property
template = testcase

<section class="site-panel">
  <h2>abort-on-property-read - function property</h2>
  <p>Check that basic usage of the abort-on-property-read snippet is working as expected.</p>
</section>

<section class="site-panel">
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>abp-testpages-manual.herokuapp.com#$#abort-on-property-read Object.keys</pre>
</section>

<script>console.log(Object.keys({a: 1}))</script>