title = abort-on-property-write-sub-property
template = testcase

<section class="site-panel">
  <h2>abort-on-property-write - sub property</h2>
  <p>Check that basic usage of the abort-on-property-write snippet is working as expected.</p>
</section>

<section class="site-panel">
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|strip_proto }}#$#abort-on-property-write adsOptions.showing</pre>
</section>

<script src="/testcasefiles/snippets/abort-on-property-write-sub-property.js"></script>
