title = hide-if-contains
template = testcase

<section class="site-panel">
  <h2>hide-if-contains</h2>
  <p>Check that basic usage of the hide-if-contains snippet is working as expected.</p>
  <p></p>
</section>

<section class="site-panel">
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|strip_proto }}#$#hide-if-contains 'HICTarget' p[id]</pre>
</section>

<script>
  setTimeout(() =>
  {
    let ad = document.createElement("p");
    ad.id = Math.random().toString(36).substring(2);
    ad.className = "testcase-contentaside stripes-red"
    ad.innerHTML = "<div>HICTarget</div>";
    document.getElementById("target").appendChild(ad);
  },
  500);
</script>
