* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  
  background-color: #f2f2f2;
}

h1 { font-size: 1.7rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.1rem; }


/* Site Header/Footer */

.site-header {
  height: 4em;
  background-color: #c70d2c;
}

#site-header-logo, #site-header-logo > * {
  float: left;
}

#site-header-logo {
  padding: 0em 1em;
  color: #fff;
}

#site-header-logo:hover,
#site-header-logo:active,
#site-header-logo:focus
{
  background-color: #AE0013;
  text-decoration: none;
}

#site-header-logo img {
  height: 4em;
  padding: 0.5em 0em;
  margin: 0em 1em 0em 0em;
}

#site-header-logo > span {
  line-height: 2.51em;
  font-size: 1.5em;
}

.site-footer {
  color: #ececec;
  background-color: #292929;
  font-size: 0.9em;
  margin: 1rem 0 0 0 ;
  padding: .5rem;
}

.site-footer .site-update {
  text-align: center;
  font-size: 0.7rem;
}


/* Site Colours/Patterns */

.stripes-grey {
  border: 2px solid #bcbcbc;
  background-image: repeating-linear-gradient(45deg, #ccc, #ccc 10px, #dbdbdb 10px, #dbdbdb 20px);
}

.stripes-green {
  border: 2px solid #02c219;
  background-image: repeating-linear-gradient(45deg, #22b522, #22b522 10px, #0c0 10px, #0c0 20px);
}

.stripes-red {
  border: 2px solid #12bd1f;
  background-image: repeating-linear-gradient(45deg, #f00, #f00 10px, #c00 10px, #c00 20px);
}

.stripes-blue {
  border: 2px solid #0079cc;
  background-image: repeating-linear-gradient(45deg, #2231b5, #2231b5, 10px, #0079cc 10px, #0079cc 20px);;
}


/* Site Layout/Panels */

.site-container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 .75rem 0 .75rem;
}

.site-panel {
  background-color: white;
  padding: 1rem;
  margin-top: .5rem;
}

.site-panel h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.site-panel h2 + p {
  margin-top: .5rem;
  margin-bottom: 0;
}

.site-pagelist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-pagelist li {
  background-color: #f3f3f3;
  display: inline-block;
  width: 100%;
  margin-top: .25rem;
}
.site-pagelist li:hover {
  background-color: #eee;
}

.site-pagelist li a {
  padding: .5rem;
  color: #222;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.site-pagelist li a h3 {
  font-weight: bold;
  margin: 0;
}

.site-button {
  padding: .5rem;
  background-color: #f3f3f3;
  text-decoration: none;
}

.site-button:hover {
  background-color: #eee;
}




/* Testcase */
.target-red {
  color: #fff;
  border: 2px solid #12bd1f;
  background-image: repeating-linear-gradient(45deg, #f00, #f00 10px, #c00 10px, #c00 20px);
  padding: .5rem;
}

.target-green {
  color: #fff;
  border: 2px solid #02c219;
  background-image: repeating-linear-gradient(45deg, #22b522, #22b522 10px, #0c0 10px, #0c0 20px);
  padding: .5rem;
}

.testcase-container {
  background-color: #f2f2f2;
  min-height: 10rem;
  padding: .5rem;
  margin-top: .5rem;
  border: 1px solid #ababab;
}

.testcase-content {
  color: white;
  background-color: grey;
  height: 100%;
  width: auto;
  overflow: hidden;
  border: 2px solid #bcbcbc;
  padding: .5rem;
}

.testcase-contentaside {
  color: white;
  width: 20%;
  vertical-align: top;
  height: 35%;
  padding: .5rem;
 float:right;
 margin-left: .5rem;
  display: table-cell;
}

img.blocked {
  padding: .5rem;
  background-color: red;
}

.testcase-image {
  height: 5rem;
}

.testcase-row {
  background-color: white;
  padding: .5rem;
  margin-top: .5rem;
}

.testcase-row:first-of-type {
    margin-top: 0;
}

.testcase-column {
  background-color: white;
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 10rem;
  padding: .5rem;
  border: 1px solid #ababab;
}

.testcase-row > h3 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.testcase-filter {
  border: 0px solid #ababab;

  margin-top: .5rem;
}

.testcase-teststylesheet,
#testcase-scripttarget {
  padding: .5rem;
}

.testcase-filter .filter {
  background-color: #e0e0e0;
  margin: 0;
  padding: .5rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
   border-bottom: 1px solid #ccc;
  font-family: monospace;
  overflow-x: scroll;
  word-break: keep-all;
}

.testcase-filter .description {
  background-color: #f2f2f2;
  margin: 0;
  padding: .5rem;
}

.testcase-es-prop {
  width: 213px;
}

.testcase-es-chained {
  width: 214px;
}

.testcase-es-case {
  width: 215px;
}

.testcase-es-wildcard {
  width: 216px;
  height: 50px;
  cursor: pointer;
}

.testcase-es-regex-1 {
  width: 121px;
}
.testcase-es-regex-2 {
  width: 122px;
}
.testcase-es-regex-3 {
  width: 100px;
}

.testcase-eh-cssesc { 
  width: 42px;
}

.testcase-eh-proptagname {
  color: red;
}

.testcase-eh-propcombinator {
  color: blue;
}

propcombinator

@media( min-width: 720px ) {
  .abp-container {
    width: 75%;
	max-width: 900px;
  }
}

.expected .stripes-red,
.expected .blocked,
.expected #testcase-output,
#testcase-output-expected {
  display: none;
}

.expected .trap {
  visibility: hidden;
}

.expected #testcase-output-expected {
  display: block;
}
