title = $document Exception
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options"),
] %}

<section class="site-panel">
  <h2>$document Exception</h2>
  <p>Check that usage of the $document filter option works as expected.</p>
  <p>With the filter(s) displayed below each test case added to ABP (or with the testcase subscription installed and active), none of the green elements should be hidden.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
   <div class="testcase-contentaside stripes-green testcase-ex-document">Target</div>
   <div class="testcase-contentaside stripes-green testcase-ex-document">Target</div>
   <img class="testcase-contentaside stripes-green" src="/testcasefiles/document/image.jpg">
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}##.testcase-ex-document</pre>
  <pre>||{{ site_url|strip_proto }}/testcasefiles/document/*</pre>
  <pre>@@{{ site_url|strip_proto }}/en/exceptions/document^$document</pre>
</section>
