title = Element Hiding - Exception
template = testcase

{% set testcase_moreinfo = [
  ("Exception Rules", "https://adblockplus.org/filters#elemhide_exceptions"),
] %}

<section class="site-panel">
  <h2>Element Hiding Exception</h2>
  <p>Check that usage of the of element hiding exceptions work as expected.</p>
  <p>With the filter(s) displayed below each test case added to ABP (or with the testcase subscription installed and active), the green element in the test case panel should not be hidden.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-green testcase-ehe">Target</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}##.testcase-ehe</pre>
  <pre>{{ site_url|domain }}#@#.testcase-ehe</pre>
</section>
