title = $genericblock Exception
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options")
] %}

<section class="site-panel">
  <h2>$genericblock Exception</h2>
  <p>Check that usage of the $genericblock filter option in an exception filter works as expected.</p>
  <p>With the filter(s) displayed below each test case added to ABP (or with the testcase subscription installed and active), the red element should remain hidden and the green element should be displayed.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Page</h3>
      <img src="/testcasefiles/genericblock/target-generic.jpg"/>
      <img class="blocked" src="/testcasefiles/genericblock/target-notgeneric.jpg"/>
    </div>
    <div class="testcase-row">
      <h3>Framed</h3>
      <iframe src="/testcasefiles/genericblock/frame.html" style="width: 100%;"></iframe>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>/testcasefiles/genericblock/target-generic.jpg</pre>
  <pre>/testcasefiles/genericblock/target-notgeneric.jpg$domain={{ site_url|domain }}</pre>
  <pre>@@||{{ site_url|strip_proto }}/en/exceptions/genericblock$genericblock</pre>
</section>
