title = $sitekey Exception
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options")
] %}

<section class="site-panel">
  <h2>$sitekey Exception</h2>
  <p>Check that usage of the $sitekey filter option works as expected.</p>
  <p>With the first two filters below, the target element and image should be hidden in both the page and the frame. With the third filter below, the element and image inside of the frame (but not those on the page) should then be whitelisted.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Out of frame elements</h3>
      <div class="stripes-red testcase-sitekey-eh" style="color: #fff; padding: .5rem; margin-bottom: .5rem;">Target</div>
      <img src="/testcasefiles/sitekey/image.jpg" class="blocked"/>
    </div>
    <div class="testcase-row">
      <h3>In frame elements</h3>
      <iframe src="/sitekey-frame" style="width: 100%;"></iframe>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}##.testcase-sitekey-eh</pre>
  <pre>||{{ site_url|strip_proto }}/testcasefiles/sitekey/image.jpg</pre>
  <pre>@@$document,sitekey=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANGtTstne7e8MbmDHDiMFkGbcuBgXmiVesGOG3gtYeM1EkrzVhBjGUvKXYE4GLFwqty3v5MuWWbvItUWBTYoVVsCAwEAAQ</pre>
</section>
