title = $stylesheet Exception
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options"),
] %}

<link rel="stylesheet" href="/testcasefiles/stylesheetexception/stylesheet.css">

<section class="site-panel">
  <h2>$stylesheet Exception</h2>
  <p>Check that usage of the $stylesheet filter option in an exception filter works as expected.</p>
  <p>With the filter(s) displayed below each test case added to ABP (or with the testcase subscription installed and active), the image should be blocked while the stylesheet should not be.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Image</h3>
      <img class="blocked" src="/testcasefiles/stylesheetexception/image.jpg"/>
    </div>
    <div class="testcase-row">
      <h3>Stylesheet</h3>
      <div class="testcase-teststylesheet"></div>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>||{{ site_url|strip_proto }}/testcasefiles/stylesheetexception/*</pre>
  <pre>@@{{ site_url|strip_proto }}/testcasefiles/stylesheetexception/$stylesheet</pre>
</section>
