title = $subdocument Exception
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options"),
] %}

<link rel="stylesheet" href="/testcasefiles/subdocumentexception/stylesheet.css">

<section class="site-panel">
  <h2>$subdocument Exception</h2>
  <p>Check that usage of the $subdocument filter option in an exception filter works as expected.</p>
  <p>With the filter(s) displayed below each test case added to ABP (or with the testcase subscription installed and active), the subdocument/frame should not be blocked while the stylesheet should be.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Frame/Subdocument</h3>
      <iframe src="/testcasefiles/subdocumentexception/frame.html"></iframe>
    </div>
    <div class="testcase-row">
      <h3>Stylesheet</h3>
      <div class="testcase-teststylesheet trap">&nbsp;</div>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>||{{ site_url|strip_proto }}/testcasefiles/subdocumentexception/*</pre>
  <pre>@@{{ site_url|strip_proto }}/testcasefiles/subdocumentexception/$subdocument</pre>
</section>
