title = Element Hiding Emulation / Extended Selectors
template = testcase

{% set testcase_moreinfo = [
  ("Filter Cheatsheet - Extended Selectors", "https://adblockplus.org/filter-cheatsheet#elementhideemulation"),
] %}

<section class="site-panel">
  <h2>Element Hiding Emulation / Extended Selectors </h2>
  <p>Check that element hiding emulation functionality is working as expected.</p>
  <p>With the filter displayed below each test case added to ABP (or with the testcase subscription installed and active), the red target elements in each test case panel should be hidden while any green elements should not be hidden.</p>
</section>

<section class="site-panel">
  <h2>Basic :-abp-properties() usage</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red testcase-es-prop">Target</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-properties(width: 213px)</pre>
</section>

<section class="site-panel">
  <h2>Basic :-abp-has() usage</h2>
  <div class="testcase-container">
   <div class="testcase-contentaside stripes-red">
     Target
     <div>
       <img class="testcase-es-has">
     </div>
    </div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-has(>div>img.testcase-es-has)</pre>
</section>


<section class="site-panel">
  <h2>Basic :-abp-contains() usage</h2>
  <div class="testcase-container">
   <span class="testcase-contentaside stripes-red">ESContainsTarget</span>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#span:-abp-contains(ESContainsTarget)</pre>
</section>

<section class="site-panel">
  <h2>Chained extended selectors</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red">
      <div class="testcase-es-chained">Target</div>
    </div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-has(> div:-abp-properties(width: 214px))</pre>
</section>


<section class="site-panel">
  <h2>Case insensative extended selectors</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red testcase-es-case">Target</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-properties(WiDtH: 215px)</pre>
</section>

<section class="site-panel">
  <h2>Wildcard in extended selector</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red testcase-es-wildcard">Target</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-properties(cursor:*)</pre>
</section>

<section class="site-panel">
  <h2>Regular expression in :-abp-properties()</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red testcase-es-regex-1">Target</div>
    <div class="testcase-contentaside stripes-red testcase-es-regex-2">Target</div>
    <div class="testcase-contentaside stripes-green testcase-es-regex-3">Not a Target</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-properties(/width: 12[1-5]px;/)</pre>
</section>


<section class="site-panel">
  <h2>Regular expression in :-abp-contains()</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red">ESContainsRegEx1</div>
    <div class="testcase-contentaside stripes-red">ESContainsRegEx2</div>
    <div class="testcase-contentaside stripes-red">ESContainsRegEx3</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div > div:-abp-contains(/ESContainsRegEx\d/)</pre>
</section>

<section class="site-panel">
  <h2>Quantifier - #7268</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red">BadBadBad</div>
    <div class="testcase-contentaside stripes-green">GoodGoodGood</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div > div:-abp-contains(/[aAbBdD]{9,}/)</pre>
</section>

<section class="site-panel">
  <h2>CSS Escaping - #7284</h2>
  <div class="testcase-container">
    <div class="testcase-contentaside stripes-red testcase-eh-cssesc">BadBad</div>
    <div class="testcase-contentaside stripes-green">GoodGood</div>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#div:-abp-properties(/width: [2-4]{2}px/)</pre>
</section>

<section class="site-panel">
  <h2>:-abp-properties with tag name - #7400</h2>
  <div class="testcase-container">
    <span class="testcase-contentaside stripes-red testcase-eh-proptagname">Target</span>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#span:-abp-properties(color: red)</pre>
</section>

<section class="site-panel">
  <h2>:-abp-properties end combinator - #7428</h2>
  <div class="testcase-container">
    <p class="testcase-contentaside stripes-red testcase-eh-propcombinator">Target</p>
    <div class="testcase-content stripes-grey">Content</div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|domain }}#?#body :-abp-properties(color: blue)</pre>
</section>
