title = $object
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options"),
] %}

<section class="site-panel">
  <h2>$object</h2>
  <p>Check that usage of the $object filter option works as expected.</p>
  <p>With the filter displayed below each test case added to ABP (or with the testcase subscription installed and active), the object/swf file in the test case panel should be blocked but the image should not.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <p>The object should be blocked. The image should not be blocked.</p>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Object</h3><object data="/testcasefiles/object/object.swf" type="application/x-shockwave-flash" class="trap" style="width: 250px; height: 250px;"></object>
    </div>
    <div class="testcase-row">
      <h3>Image</h3>
      <img class="testcase-image" src="/testcasefiles/object/image.jpg"/>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|strip_proto }}/testcasefiles/object/$object</pre>
</section>
