title = $script
template = testcase

{% set testcase_moreinfo = [
  ("Filter Options", "https://adblockplus.org/filters#options"),
] %}


<section class="site-panel">
  <h2>$script</h2>
  <p>Check that usage of the $script filter option works as expected.</p>
  <p>With the filter displayed below each test case added to ABP (or with the testcase subscription installed and active), the scripts in each test case panel should be blocked but the images should not.</p>
</section>

<section class="site-panel">
  <h2>Test case</h2>
  <p>The script should be blocked. The image should not be blocked.</p>
  <div class="testcase-container">
    <div class="testcase-row">
      <h3>Script</h3><div id="testcase-scripttarget" class="trap">&nbsp;</div>
    </div>
    <div class="testcase-row">
      <h3>Image</h3><img class="testcase-image" src="/testcasefiles/script/image.jpg"/>
    </div>
  </div>
  <h3>Filters</h3>
  <pre>{{ site_url|strip_proto }}/testcasefiles/script/$script</pre>
</section>

<script src="/testcasefiles/script/script.js"></script>
