title = caching-check-7285
template = testcase

<section class="site-panel">
  <h2>General behaviour - Caching check - 7285</h2>
</section>

<section class="site-panel">
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
    <div id="cachecheck-7285" class="testcase-contentaside stripes-red">Target</div>
    <img class="testcase-contentaside" src="/testcasefiles/general/image-7285.jpg"/>
  </div>
  <h3>Filters</h3>
  <pre>###cachecheck-7285</pre>
  <pre>image-7285</pre>
</section>

