title = request-filter-matching-7435
template = testcase

<section class="site-panel">
  <h2>General behaviour - Request filter matching - 7435</h2>
</section>

<section class="site-panel">
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
    <iframe src="/testcasefiles/general/7435-bar-ad.html"></iframe>
    <iframe src="/testcasefiles/general/7435-ad-Bar-ad.html"></iframe>
  </div>
  <h3>Filters</h3>
  <pre>-bar-</pre>
  <pre>-bar-$match-case</pre>
</section>

