title = twosubonefilter-7094
template = testcase

<section class="site-panel">
  <h2>General behaviour - Two subs one filter - 7094</h2>
</section>

<section class="site-panel">
  <p>Add both subscriptions. They both contain the same filter. Disable one or the other. Element should be hidden. Disable both. Element should be displayed.</p>
  <p>{{ site_url|strip_proto }}/testcasefiles/general/twosubonefilter-1.txt</p>
  <p>{{ site_url|strip_proto }}/testcasefiles/general/twosubonefilter-2.txt</p>
  <div id="target" class="testcase-container">
    <div class="testcase-content stripes-grey">Content</div>
    <div id="twosubonefilter" class="testcase-contentaside stripes-red">Target</div>
  </div>
  <h3>Filters</h3>
</section>

