<section class="site-panel">
  <h2>Testpages - Manual Testing</h2>
  <p>This branch of the test pages contains manual tests / testing data that is not not part of the deployment tested by the automation. These tests should be integrated over to the main deployment when possible.</p>
</section>

<section class="site-panel">
  <h2>Filter options</h2>
  <ul class="site-pagelist">
    <li>
      <a href="/pages/filters/third-party/">$third-party</a>
    </li>
    <li>
      <a href="/pages/filters/rewrite/">$rewrite</a>
    </li>
  </ul>
</section>

<section class="site-panel">
  <h2>Snippets</h2>
  <ul class="site-pagelist">
    <li>
      <a href="/pages/snippets/hide-if-contains/">hide-if-contains</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-search-selector/">hide-if-contains search selector</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-regex/">hide-if-contains regex</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-shadow-contains/">hide-if-shadow-contains</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-shadow-contains-regex/">hide-if-shadow-contains regex</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-and-matches-style/">hide-if-contains-and-matches-style</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-and-matches-style-regex/">hide-if-contains-and-matches-style regex</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-has-and-matches-style/">hide-if-has-and-matches-style</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-has-and-matches-style-regex/">hide-if-has-and-matches-style regex</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-image/">hide-if-contains-image</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-visible-text/">hide-if-contains-visible-text</a>
    </li>
    <li>
      <a href="/pages/snippets/hide-if-contains-visible-text-regex/">hide-if-contains-visible-text regex</a>
    </li>
  </ul>
</section>

<section class="site-panel">
  <h2>Managed Settings</h2>
  <h3>Suppress First Run Page - Chrome/Chromium</h3>

  <h4>Windows</h3>
  <p>Download file and add to the Windows Registry (requires machine joined to an Active Directory domain).</p>
  <ul class="site-pagelist">
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chrome-devbuild.reg">Suppress FRP - Chrome - Devbuild</a>
    </li>
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chrome-stable.reg">Suppress FRP - Chrome - Stable</a>
    </li>
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chromium-devbuild.reg">Suppress FRP - Chromium - Devbuild</a>
    </li>
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chromium-stable.reg">Suppress FRP - Chromium - Stable</a>
    </li>
  </ul>

  <h4>Linux</h3>
  <p>Download file and move to the following locations:<br>
  Chrome: /etc/opt/chrome/policies/managed/<br>
  Chromium: /etc/chromium/policies/managed/</p>
  <ul class="site-pagelist">
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chrome-devbuild.json">Suppress FRP - Devbuild</a>
    </li>
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-chrome-stable.json">Suppress FRP - Stable</a>
    </li>
  </ul>
  <h3>Suppress First Run Page - Firefox</h3> 
  <ul class="site-pagelist">   
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-firefox-devbuild.json">Suppress FRP - Devbuild</a>
    </li>
    <li>
      <a href="/testcasefiles/managedsettings/suppress-frp-firefox-stable.json">Suppress FRP - Stable</a>
    </li>
  </ul>
</section>
