#test-article {
  background: none;
  background-color: red;
}

.testcase-teststylesheet {
  color: white;
  background: green;
}

.testcase-teststylesheet::after {
  background: green;
  content: "Stylesheet was loaded and applied to page.";
}

